.cartodb-import-button {
  width: 36px;
  height: 36px;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  cursor: pointer;
  opacity: .6;
}

.cartodb-import-button:hover {
  opacity: .9;
}
