.cartodb-import-button {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  cursor: pointer;
  opacity: .6;
}

.table-import {
  width: 36px;
  height: 36px;
}

.link-import {
  display: inline-block;
  position: inherit;
  width: 20px;
  height: 20px;
}

.cartodb-import-button {
  -webkit-filter: drop-shadow(2px 2px 4px #006);
}

.cartodb-import-button:hover {
  opacity: .9;
}
